.delivery-page
  margin-bottom: 130px
  h3
    font-family: 'Raleway',sans-serif
    font-size: 40px
    font-weight: 900
    margin-bottom: 50px
    line-height: 48px
    text-align: center
  &__payments
    @extend .d-flex
    justify-content: space-evenly
    margin-bottom: 140px
  &__time
    margin-bottom: 180px
  &-top
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr))
    grid-gap: 20px
    margin-bottom: 100px
  &-items
    @extend .d-flex
    //align-items: flex-start
    flex-wrap: wrap
    max-width: 400px
    margin: 0 auto
  &-item
    p
      font-size: 14px
      color: #898989
    span
      font-weight: bold
      font-size: 25px
  &-logos
    @extend .d-flex
    align-items: center
    justify-content: space-between
    max-width: 400px
    margin: 0 auto 20px



.promotions
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(410px,1fr))
  grid-column-gap: 30px
  grid-row-gap: 40px
.promotion
  &__img
    margin-bottom: 20px
  &__title
    font-weight: 700
    font-size: 20px
    margin-bottom: 15px
  &__text
    margin-bottom: 20px
  & .el-button
    width: 250px

@media (max-width: 768px)
  .delivery-page
    &-top
      grid-template-columns: 1fr
      margin-bottom: 30px
    &-item
      flex-basis: 50%
      margin-bottom: 20px
      p
        font-size: 14px
        color: #898989
      span
        font-weight: bold
        font-size: 18px
    &__payments
      margin-bottom: 30px
